<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-in page</title>
    <link rel="stylesheet" href="wholeprojectcss.css">
    <link rel="stylesheet" href="script.js">
</head>
<body> 
        <!-- Adharnumber -->
     <div class="center">
        <form action="">
            <h1 class="text-center">Authentication</h1><br>
            <div class="box">
                <label for="adharnnumber">Enter Adhar-Number:-</label>
                <input type="text" name="adharnumber" id="adharnumber"maxlength="12" />
            </div>
            <div class="box">
                <a href="/donorFinalConfirmation" class="button">Submit</a>
            </div>
            <h3 class="forlogin-form">Not Registered yet?<a href="/newDonorRegister">click here.</a></h3>
        </form>        
    </div>     
</body>
</html>